
.DS_Store

.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

src/project1/out/
src/project2/.DS_Store
src/project2/.idea/
src/project2/out/
src/project2/project2.iml

src/project1/.DS_Store
src/project1/.idea/
src/project1/out/
src/project1/project2.iml

patam1.iml
